@font-face {
    font-family: 'goldmanregular';
    src: url('./assets/goldman_font/goldman-regular-webfont.woff2') format('woff2'),
         url('./assets/goldman_font/goldman-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('./assets/roboto_font/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./assets/roboto_font/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body {
    height: 100%;
    width: 100%;
}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

body {
    font-family: robotoregular;
    display: flex;
    background-color: black;
    
    

    
    
}

label {
    color: #28343f;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 15rem;
    height: 1.5rem;
}


.right-area {
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 100%;
    
    
}

.div-logo {
    position: relative;
    height: 100%;
    width: 40rem;
}

#background-image {
    width: 40rem;
    height: 100%;
}


.background-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 11rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    top: 9rem;
}

#logo {
    height: 200px;
    width: 200px;
    margin-right: -2rem;
    
}

.logo-message {
    font-size: 5rem;
    color: white;
    font-family: goldmanregular;

}

.form-message {
    position: absolute;
    width: 20rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: robotoregular;
    font-weight: bold;
    color: #28343f;
}

.upper-banner {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    padding-top: 5rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    width: 100%;
    height: 20rem;
    background-color: rgba(249,250,251,255);
}

.message {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-layout {
    display: flex;
    justify-content: flex-start;
    height: 20rem;
    padding: 3rem;
    width: 100%;
    background-color: white;
    
    
    
    
}

.first-form-half, .second-form-half {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15rem;
}

.first-form-half {
    margin-right: 5rem;
}

.second-form-half {
    margin-left: -1rem;
}

.centering-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.footer-submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgba(249,250,251,255);
    height: 100%;
    
    
}

.submit-button {
    height: 3rem;
    width: 14rem;
    background-color: #373530;
    border-radius: 5px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.315) 2px 2px 5px;
    margin-bottom: 2rem;
    font-family: robotoregular;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(249,250,251,255);
}

